appdirs
asgiref
astroid
async-generator
attrs
Automat
backports.entry-points-selectable
beautifulsoup4
boto3
botocore
bs4
cachetools
camelcase
certifi
cffi
chardet
charset-normalizer
click
colorama
comtypes
configparser
constantly
crayons
cryptography
cssselect
decorator
distlib
Django
fake-useragent
filelock
Flask
ftfy
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
googletrans
gunicorn
h11
h2
hpack
hstspreload
html5lib
httpcore
httplib2
httpx
hyperframe
hyperlink
idna
image
importlib-metadata
incremental
isort
itemadapter
itemloaders
itsdangerous
Jinja2
jmespath
joblib
lazy-object-proxy
lxml
MarkupSafe
mccabe
MouseInfo
nltk
numpy
opencv-python
outcome
packaging
pandas
parse
parsel
Pillow
pipenv
platformdirs
playsound
priority
Protego
protobuf
pyasn1
pyasn1-modules
PyAutoGUI
pycparser
PyDispatcher
pyee
pyenchant
PyGetWindow
pylint
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
pyppeteer
pyquery
PyRect
PyScreeze
pytesseract
python-dateutil
pytorch-pretrained-bert
pyttsx3
pytweening
pytz
PyYAML
queuelib
regex
rfc3986
rsa
s3transfer
scikit-learn
scipy
Scrapy
scrapy-selenium
selenium
self
service-identity
six
sklearn
sniffio
sortedcontainers
soupsieve
splinter
sqlparse
tabulate
tesseract
threadpoolctl
toml
torch
tqdm
trio
trio-websocket
Twisted
twisted-iocpsupport
typing-extensions
tzdata
uritemplate
urllib3
virtualenv
virtualenv-clone
w3lib
waitress
wcwidth
webdriver-manager
webencodings
websockets
Werkzeug
whitenoise
wrapt
wsproto
zipp
zope.interface
